body {
    background: url(background.jpg) no-repeat;
    -moz-background-size: 100%;
    -webkit-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;
    display: flex;
    justify-content: center;
}
.mainDiv{
    width: 50%;
    height: 100vh;
}
header{
    display: flex;
    align-items: center;
    height: 20%;
}
.round {
    display: inline-block;
    border-radius: 400px; /* Радиус скругления */
    box-shadow: 0 0 7px #666; /* Параметры тени */
}
.name{
    margin-left: 10%;
    color: #ffffff;
}
.text{
    color:#ffffff;
}
.vk{
    height: 120px;
    width: 150px;
    float: left;
}
.round2{
    border-radius: 50px; /* Радиус скругления */
box-shadow: 0 0 7px #666; /* Параметры тени */
}
.round3{
    border-radius: 50px; /* Радиус скругления */
box-shadow: 0 0 7px #666; /* Параметры тени */
}